body
  background: #ebedf0

  #wrap
    width: 860px
    margin: 0 auto
    
    h1
      margin: 0
      
      a
        font: bold 140px "Futura", "Century Gothic" serif
        font-weight: bold
        letter-spacing: -30px
        text-decoration: none
        color: #747981
        text-shadow: 1px 1px 0 #f4f4f4
      
      p
        margin: 0
        float: left
      
      img
        float: left
        margin: 56px 0 0 30px
    
    #content
      p, li
        font: 18px "Lucida Grande", "Lucida Sans Unicode", sans-serif
        color: #666666
        text-shadow: 1px 1px 0 #f8f8f8
        line-height: 170%
      
      #articles
        width: 535px
        float: left
        
        .article
          margin-bottom: 50px
          
          h2
            margin: 0 0 10px 0
            font-weight: normal
            font-size: 36px
            
            a
              color: #A40713
              text-decoration: none
            
            a:hover
              color: #111111
          
          p.date
            margin: 0
            font-size: 13px
            color: #333333
          
          p
            margin: 0 0 20px 0
        
        .archive-article
          line-height: 0
          list-style: none
          margin: 5px 0
          
          p
            margin: 0
          
          p.date
            float: left
            font-size: 12px
            width: 135px
          
          p.title
            width: 350px
            margin: -3px 0 0 10px
            float: left
            font-size: 14px
            
            a
              color: #A40713
            
            a:hover
              color: #747981
      
      #archive-link
        font-size: 14px
        color: #747981
      
      #archive-link:hover
        color: #A40713
      
      #sidebar
        width: 200px
        float: left
        margin: 0 0 0 25px
        
        p
          font-size: 14px
          color: #595D63
        
        ul
          list-style: none
          margin: 0
          padding: 0
          
          li
            margin: 6px 0
            list-style: none
            text-indent: 24px
            font-size: 12px
            
            a
              color: #A40713
        
        #rss
          background: url("/public/images/feed.png") no-repeat
        
        #twitter
          background: url("/public/images/twitter.png") no-repeat
          
        