<!DOCTYPE html>
<html lang="en-US">
<head>
  <meta charset="UTF-8">
  <meta name="google-site-verification" content="uPo9ejFsAXhqlhxbsrVtWkBWHQQDUGvP5lSSqj5Mb54" />

  <title>{{ page.title }}</title>

  <link rel="stylesheet" type="text/css" href="/public/css/main.css" media="all">
  <link rel="stylesheet" type="text/css" href="/public/css/highlight.css" media="all">

  <script type="text/javascript" src="http://use.typekit.com/npn1una.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
</head>

<body>
  <section id="sidebar">
    <a href="/">
      <img src="/public/images/metal.png" alt="mattenoble" />
    </a>

    <section id="meta">
      <a href="https://github.com/mnoble" class="github">github</a>
      <a href="https://twitter.com/mattenoble" class="twitter">twitter</a>
      <a href="/atom.xm" class="rss">rss</a>
    </section>
  </section>

  <section id="content">
    {{ content }}

    <ul id="archive">
      {% for post in site.posts | sort date %}
      <li>
        <a href="{{ post.url }}" class="title">{{ post.title }}</a>
        <span>{{ post.date | date: "%B %d, %Y" }}</span>
      </li>
      {% endfor %}
    </ul>
  </section>
</body>
</html>
